body {
    font-family: sans-serif;
    background-color: rgba (167, 112, 29, 0.719);
}

p {
    font-size: 30 px;
    color: rgb (0, 0, 0);
}

header {
    background-color: white;
    padding: 10 px;
}

header img {
    height: 50 px;
    width: 750 px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 60 px;
}

main p {
    padding: 50 px;
    background-color: white;
    border-radius: 30 px;
    margin: 20 px;


}

main img {
    height: 200 px;
    width: 700 px;
}

footer {
    padding: 30 px;
}
.icon{
    width:50 px;
    height: 50 px;
}
.marker{
    width: 20 px;
    height: 20 px;
    margin: 10 px;
}
.text {
    width: 300 px;
}
.right {
    text-align: right;
}
main p:hover {
    transform: scale (1.1);
    transition: 0.3 s linear;

}
